h1 {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px 10px 10px 10px;
    font-size: 3em;
}

.Score {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

.Buttons {
    padding: 20px;
}

button {
    padding: 8px;
    margin: 20px;
    border-radius: 5px;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}